@import url('https://fonts.googleapis.com/css?family=Dekko|Patrick+Hand');

body {
	margin:0;
	background-color: Cornsilk;	
/*	font-family: 'Patrick Hand', cursive;*/
	font-family: 'Dekko', cursive;
	overflow-y: auto;
}

/* Main Nav Bar - Top Fixed */

#logoimg {
	background-repeat: no-repeat;
	background-size: contain;
	width: 55px;
	padding: 0px;
}
#logoimg img {
	height: 55px;
	width: 55px;
}

#animepagelink {
	font-size: 19px;
}
#animepagelink a {
	width: 100%;
	height: auto;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
	padding-left: 2.5px;
	padding-right: 2.5px;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 15px;
	color: Cornsilk;
	background-color: teal;

}

#menu div {
	position: fixed;
	top: 0;
	width: 100%;
	
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: Teal;
    position: fixed;
    top: 0;
    width: 100%;
	height: 55px;
	font-size: 18px;
	font-weight: bold;
}

#menu li {
    float: left;
	height: 100%;
}

#menu li a {
    display: block;
    color: khaki;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    background-color: DarkSlateGray;
	color: khaki;
}

#menu .active {
    background-color: Tan;
	color: black;
}


#content {
	padding-top: 5px;
	padding-bottom: 10x;
	color: black;
	font-size: 13px;
	background-color: Cornsilk;	
	padding-left: 12%;
	padding-right: 12%;
	text-align: center;
	
}

#pagehead {
	display: block;
	margin: auto;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: -10px;
}

.animelinks ul {
	list-style-type: none;
	display: block;
	margin: auto;
    padding-left: 3px;
	padding-right: 3px;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
    background-color: Teal;
    width: 68%;
	height: 100%;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10%;
	border-radius: 20px;
	
}

.animelinks li {
	height: auto;
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9px;
	margin-bottom: 9px;
	border: 2px double Cornsilk;
	border-radius: 20px;
}

.animelinks li a {
    color: khaki;
    text-align: center;
    padding-right: 3px;
	padding-left: 3px;
	padding-top: 1.5px;
	padding-bottom: 1.5px;
	width: 100%;
    text-decoration: none;
	
	
}

.animelinks li a:hover {
    background-color: DarkSlateGray;
	color: khaki;
}



/* Anime Episode Pages Styles */


#content img {
    display: block;
    margin: auto;
    width: 85%;
	height: 15%;
}


.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
	font-size: 19px;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}